@using S3.Train.WebPerFume.Areas.Admin.Models
@model ProductViewModel

<td>
    @Html.ActionLink(Model.Name, "Edit", new { id = Model.Id })
</td>
<td class="py-1">
    <img src="~/Content/img/product-men/@Model.ImagePath" class="img-" alt="@Model.Name" />
</td>
