@using S3.Train.WebPerFume.Areas.Admin.Models
@model IEnumerable<ProductViewModel>
@{ 
    int stt = 1;
}
<table class="table w-50">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td class="w-auto">
                    @stt . @{ stt += 1;}
                </td>
                <td class="w-auto">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="py-1">
                    <a href="#" class="py-1">
                        <img src="~/Content/img/product-men/@item.ImagePath" alt="@item.Name" />
                    </a>
                </td>
            </tr>
        </tbody>
    }
</table>