@using S3.Train.WebPerFume.Areas.Admin.Models
@model IEnumerable<CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#" class="text-black">@item.Name</a>
                    </h4>
                    <ul class="list-arrow">
                        @foreach (var product in item.ProductCategoriesModels)
                        {
                        <li>
                            <img src="~/Content/img/product-men/@product.ProductImage" class="img-sm rounded-circle mr-3" alt="@product.ProductName" />
                            <a href="#" class="text-black">@product.ProductName</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>


    }
</div>