@using S3.Train.WebPerFume.Areas.Admin.Models
@model IEnumerable<BrandViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-body display">
    <div class="card-title">Brands</div>
    <hr />
    <div>
        @Html.Partial("_AddOrEditBrandPartial",new BrandViewModel())
    </div>

    @foreach (var brand in Model)
    {
        <div class="container">
            <div class="h4">@brand.Name</div>

            @Html.Partial("_ProductList_NameImagelPartial", brand.Products)
        </div>
        <div></div>
    }
</div>
